@font-face {
  font-family: "terminal_font";
  src: url("CascadiaMono-Regular.ttf");
}

.output {
  width: 100%;
  height: 200px;
  font-family: "terminal_font";
  color: white;
  height: 100%;
  transform: scaleX(1.3);
  transform-origin: top left;
}

body {
  background-color: black;
  height: 100%;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
